{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Vehicle Counter</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

{% include 'partials/navbar.html' %}

{% block content %}
<div class="w-full h-screen flex items-center justify-center">
    <p class="text-3xl">This page is under development.</p>
</div>
{% endblock content %}

{% include 'partials/footer.html' %}

{% block script %}{% endblock script %}

</body>
</html>
